# API URL Connectors
NEXT_PUBLIC_API_URL="http://localhost:5000/api/v1"

# Frontend Origin URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Public keys for Gateways
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Analytics and Observability
NEXT_PUBLIC_ANALYTICS_ID=""
